.experience {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}
.experience h3 {
  margin: 0;
  font-size: 1rem;
}
.experience .description {
  margin-top: 0.5rem;
}
